# Dependencies
node_modules
**/node_modules/

# Production builds
dist
**/dist/

# Environment files
.env
*.env
.env.local
.env.*.local
!*.env.example

# Logs
*.log
npm-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

